.footer {
  padding: 2rem 0;
  background: #1D1623;
  font-size: 1.2rem;
  color: white;
  margin-top: -50px;

}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: white;
  text-decoration: none;
  font-weight: 700;
}


.footer-column-left {
  float: left;
  width: 35%;
  font-size: 1.5rem;
  padding-right: 30px;
}

.footer-column {
  float: left;
  width: 20%;
  font-size: 1.5rem;
  padding-right: 30px;
}


/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}



/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


.full-width {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 5rem 9999rem 5rem;
  background: #1D1623;
  color: white;
}

.full-width-footer {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 5rem 9999rem 5rem;
  background: #1D1623;
  color: white;
  height: 300px;
}

.footer-center {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0 1rem;
    background-color: #1D1623;
    color: white;
}

.footer-center a {
    color: white;
    text-decoration: none;
}

.footer-center a:hover {
    font-weight: 700;
}

.footer-container {
  max-width: 1111px;
  width: 90%;
  margin: 0 auto;
}

.footer-column-left .Logo {
    margin-right: 3rem;
    width: 250px;
    position: relative;
}

.list-unstyled {
    list-style-type:none;
}

.list-unstyled a {
    color: white;
    text-decoration: none;
}

.list-unstyled a:hover {
    color: white;
    font-weight: 700;
}

@media screen and (max-width: 1025px) {
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
  .footer-column {
    float: left;
    width: 50%;
    font-size: 1.5rem;
    padding-right: 0;
    padding-top: 2rem;
  }
  .footer-column-left {
    float: center;
    width: 100%;
    font-size: 1.5rem;
  }
  .footer-column-left .Logo {
      margin-right: auto;
      margin-left: auto;
      width: 200px;
      position: relative;
      padding-bottom: 5rem;
  }
  .footer-center {
      text-align: center;
      width: 100%;
      font-size: 1rem;
      padding: 1rem 0 1rem;
      background-color: #1D1623;
      color: white;
  }
  .hide-mobile {
      display: none;
  }
  .full-width-footer {
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 5rem 9999rem 5rem;
    background: #1D1623;
    color: white;
    height: 400px;
  }
}
