.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
}

.Logo-footer {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
}
