.PageHeader {
  background-color: #061F3A;
  color: white;
  padding: 1rem 0;
  height: 1000px;
}

.PageHeader-small {
  background-color: #1D1623;
  color: white;
  padding: 1rem 0;
  height: 400px;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--FrontTitle {
  font-size: 5rem;
  padding-right: 400px;
  padding-top: 200px;
  line-height: 120%;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Ntention Font', sans-serif;
  color: white;
}

.PageHeader--Title {
  font-size: 4rem;
  margin-top: -100px;
  line-height: 120%;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Ntention Font', sans-serif;
  color: white;
}

.PageHeader--Subtitle {
  padding-top: 10px;
  font-weight: 400;
  font-size: 1.8rem;
  padding-right: 600px;
  color: #D8D8D8;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

.frontimage {
    width: 600px;
    height: 400px;
    background-image: url("https://cdn.image4.io/vegard/f_auto/882ddf52-e52f-4a1e-bf18-8632f332932f.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media (max-width: 1025px) {
    .PageHeader {
        height: 1366px;
    }
}

@media (max-width: 768px) {
  .PageHeader {
    padding: 1rem 0;
    height: 1100px;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }

  .PageHeader--FrontTitle {
    font-size: 2.5rem;
    padding-right: 10px;
    line-height: 120%;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-top: 100px;
  }
  .PageHeader--Title {
    font-size: 2.5rem;
    padding-right: 100px;
    line-height: 120%;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-left: 1rem;
  }
  .PageHeader--Subtitle {
    font-weight: 400;
    font-size: 1.8rem;
    padding-right: 50px;
    padding-left: 1rem;
  }
  .PageHeader-small {
    color: white;
    padding: 0 0;
    height: 450px;
  }
  .frontimage {
      margin-top: -30rem;
      margin-left: 0rem;
  }
  .frontimage img {
      max-width: 100%;
  }
}
