slide-container {
  width: 100%;
  margin: auto; }


.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: left;
  background-size: cover;
  height: 450px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: none;
  text-align: left;
  color: white;
  padding-right: 500px;
  position: absolute;
  bottom: 0;
  width: 1200px;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0;
  background: #adceed;
}

@media screen and (max-width: 1025px) {
}

@media screen and (max-width: 768px) {
    .each-slide > div {
      display: flex;
      align-items: center;
      justify-content: left;
      background-size: cover;
      height: 250px;
    }
    .each-slide h2 {
        font-size: 3rem;
    }

}
